*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'ObjectSans-Regular';
  src:
    local('ObjectSans-Regular'),
    url(./fonts/ObjectSans-Regular.otf) format('otf');
}

/* Header */

.section-1 {
  position: relative;
}

.header {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.25rem 3vw;
  position: relative;
}

.text-INFLATABLE {
  font-family: 'ObjectSans-Regular', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
  color: black;
  line-height: 1.25rem;
}

.by {
  font-family: 'ObjectSans-Regular', sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  color: black;
  line-height: 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-left a {
  text-decoration: none;
}

.btn-header {
  display: flex;
  text-decoration: none;
  color: black;
  background-color: white;
  border: solid 1px black;
  border-radius: 100px;
  padding: 15px 20px 10px;
  font-family: 'ObjectSans-Regular', sans-serif;
  font-weight: 600;
  font-size: 0.9375rem;
  text-transform: uppercase;
  align-self: flex-end;
}

.btn-header:hover {
  background-color: black;
  color: white;
}

.btn-text.desktop {
  display: block;
}

.btn-text.mobile {
  display: none;
}

@media (max-width: 767px) {
  .btn-text.desktop {
    display: none;
  }

  .btn-text.mobile {
    display: block;
  }
}

/* Hero */

.hero-text {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  min-height: 640px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: center;
}

.caption {
  font-size: 1.25rem;
  color: black;
  font-weight: 200;
}

.hero-text-wrapper h1 {
  font-size: clamp(4rem, 6.8vw, 8rem);
  font-family: 'ObjectSans-Regular', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  line-height: clamp(4rem, 6.5vw, 9rem);
  color: black;
  letter-spacing: -2.5px;
}

.hero-img {
  position: relative;
}

.hero-1-left {
  width: 33vw;
  margin-left: -11vw;
  transform: rotate(0deg) translateX(-5px) translateY(5px);
  position: absolute;
  top: -30px;
  left: 0;
}

.hero-2-right {
  width: 37vw;
  transform: rotate(25deg) translateX(30px) translateY(-20px);
  position: absolute;
  top: 170px;
  right: 0;
}

.hero-3-center {
  width: 65vw;
  transform: rotate(0deg) translateX(-20px) translateY(10px);
  position: absolute;
  top: 700px;
  right: 350px;
  z-index: 1;
}

.hero-4-center {
  width: 80vw;
  transform: rotate(0deg) translateX(50px) translateY(10px);
  position: absolute;
  top: 820px;
  right: 230px;
  z-index: 1;
}

/* Hero Description */

.hero-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-top: 170vh;
  margin-bottom: 140px;
  padding-left: 10vw;
  padding-right: 10vw;
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #333;
  position: relative;
  z-index: 10;
}

.hero-description-wrapper {
  max-width: 1400px;
  border: 1px solid #000;
  background-color: white;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 3.5vw 1.5vw 4vw;
  display: flex;
}

h4 {
  color: #000;
  text-align: left;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  font-family: 'ObjectSans-Regular', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  padding-right: 50px;
}

.hero-description-center img {
  width: 100px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.hero-description-right {
  color: #000;
  font-family: 'ObjectSans-Regular', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  width: 30vw;
  padding-left: 60px;
}
