@font-face {
  font-family: 'ObjectSans-Regular';
  src:
    local('ObjectSans-Regular'),
    url(./fonts/ObjectSans-Regular.otf) format('otf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'ObjectSans-Regular', sans-serif; */
}
