*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'ObjectSans-Regular';
  src:
    local('ObjectSans-Regular'),
    url(./fonts/ObjectSans-Regular.otf) format('otf');
}

/* Header */

.header {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 3vw;
  position: relative;
}

.text-INFLATABLE {
  font-family: 'ObjectSans-Regular', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
  color: black;
  line-height: 20px;
}

.by {
  font-family: 'ObjectSans-Regular', sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  color: black;
  line-height: 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-left a {
  text-decoration: none;
}

.btn-header {
  display: flex;
  text-decoration: none;
  color: black;
  background-color: white;
  border: solid 1px black;
  border-radius: 100px;
  padding: 15px 20px 10px;
  font-family: 'ObjectSans-Regular', sans-serif;
  font-weight: 600;
  font-size: 0.9375rem;
  text-transform: uppercase;
  align-self: flex-end;
}

.btn-header:hover {
  background-color: black;
  color: white;
}

/* Hero */

.hero-text {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  min-height: 640px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: center;
}

.caption {
  font-size: 1.25rem;
  color: black;
  font-weight: 200;
}

h1 {
  font-size: 7.5rem;
  font-family: 'ObjectSans-Regular', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 7.5rem;
  color: black;
  letter-spacing: -2.5px;
}

.hero-img {
  position: relative;
}

.hero-1-left {
  width: 33vw;
  margin-left: -11vw;
  transform: rotate(0deg) translateX(-5px) translateY(5px);
  position: absolute;
  top: -30px;
  left: 0;
}

.hero-2-right {
  width: 37vw;
  transform: rotate(25deg) translateX(30px) translateY(-20px);
  position: absolute;
  top: 170px;
  right: 0;
}

.hero-3-center {
  width: 65vw;
  transform: rotate(0deg) translateX(-20px) translateY(10px);
  position: absolute;
  top: 700px;
  right: 350px;
}

.hero-4-center {
  width: 80vw;
  transform: rotate(0deg) translateX(50px) translateY(10px);
  position: absolute;
  top: 820px;
  right: 230px;
}
